<div class="btn-container">
      <button id="click">Greet</button>
      <button id="changeColor">Change background color here</button>
      <button id="resetColor">Reset background color here</button>
    </div>