<nav>
      <ul>
        <a href="/">
          <img height="50px" src="../images/logo.png" />
        </a>
        <li><a href="/products">Our Products</a></li>
        <li><a href="/newsletter">Join our Newsletter</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>