<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">

      <%- include("./partials/navbar.ejs") %>

      <p>Contact us in the following</p>
      <ul>
        <li><em>Phone Number: </em>123123123</li>
        <li><em>Location: </em>New York</li>
      </ul>
      <%- include("./partials/buttons.ejs") %>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
