<html>
  <head>
    <title>Contact us!</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="/">
            <img height="50px" src="images/logo.png" />
          </a>
          <li><a href="/products">Our Products</a></li>
          <li><a href="/newsletter">Join our Newsletter</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <p>Contact us in the following</p>
      <ul>
        <li><em>Phone Number: </em>123123123</li>
        <li><em>Location: </em>New York</li>
      </ul>
      <div class="btn-container">
        <button id="click">Greet</button>
        <button id="changeColor">Change background color here</button>
        <button id="resetColor">Reset background color here</button>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
