<html>

<%- include("./partials/head.ejs") %>

<body>
  <div class="container">
    <%- include("./partials/navbar.ejs") %>

    emails.forEach(email =>{
        <p>email.email</p>
    })
    
    <%- include("./partials/buttons.ejs") %>
  </div>
  <script src="js/main.js"></script>
</body>

</html>