<html>

<%- include("./partials/head.ejs") %>

<body>
  <div class="container">
    
    <%- include("./partials/navbar.ejs") %>

    <h3>
      This is the home of the website. It's plain CSS so it's not that cool.
    </h3>
    
    <%- include("./partials/buttons.ejs") %>
  </div>
  <script src="js/main.js"></script>
</body>

</html>