<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <!--Fill in the src so we get a
      logo from the static assets-->
    <!-- Answer: src="static/images/logo.png" -->
    <div class="container">
      <nav>
        <ul>
          <a href="/">
            <img height="50px" src="images/logo.png" />
          </a>
          <li><a href="/products">Our Products</a></li>
          <li><a href="/newsletter">Join our Newsletter</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <h3>
        This is the home of the website. It's plain CSS so it's not that cool.
      </h3>
      <div class="btn-container">
        <button id="click">Greet</button>
        <button id="changeColor">Change background color here</button>
        <button id="resetColor">Reset background color here</button>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
