<html>
  <head>
    <title>Newsletter</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="/">
            <img height="50px" src="images/logo.png" />
          </a>
          <li><a href="/products">Our Products</a></li>
          <li><a href="/newsletter">Join our Newsletter</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <p>Join our Newsletter!</p>
      <form method="post">
        <input type="email" name="email" id="email" placeholder="Email" />
        <input type="submit" value="Join now!" id="subscribe" />
      </form>
      <div class="btn-container">
        <button id="click">Greet</button>
        <button id="changeColor">Change background color here</button>
        <button id="resetColor">Reset background color here</button>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
