<html>

<head>
  <title>Our products</title>
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>
  <div class="container">
    <nav>
      <ul>
        <a href="/">
          <img height="50px" src="images/logo.png" />
        </a>
        <li><a href="/products">Our Products</a></li>
        <li><a href="/newsletter">Join our Newsletter</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <p>Our products:</p>
    <ol>
      <li>Test 1</li>
      <li>Test 2</li>
      <li>Test 3</li>
    </ol>
    <div class="btn-container">
      <button id="click">Greet</button>
      <button id="changeColor">Change background color here</button>
      <button id="resetColor">Reset background color here</button>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>

</html>