<html>

<%- include("./partials/head.ejs") %>

<body>
  <div class="container">
    <%- include("./partials/navbar.ejs") %>
    <h2>Samsung</h2>
    <h4>Galaxy</h4>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint consequatur adipisci magni illo numquam illum quisquam fuga praesentium. Est nemo eum dignissimos nostrum eligendi in labore unde provident mollitia eos.</p>
    <span>250$</span>
    <hr>
    
    <%- include("./partials/buttons.ejs") %>
  </div>
  <script src="js/main.js"></script>
</body>

</html>